/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-lightest-grey: #e6dede;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-purple: #b785ce;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
  z-index: 20;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Big Section */
#big_section {
  background-color: black;
}

.navbar__menu.open {
  filter: brightness(50%);
}

#home.open {
  filter: brightness(50%);
}

#about.open {
  filter: brightness(50%);
}

#skills.open {
  filter: brightness(50%);
}
#work.open {
  filter: brightness(50%);
}

#testimonials.open {
  filter: brightness(50%);
}

#contact.open {
  filter: brightness(50%);
}
/* Navbar */
#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 40px 0;
  opacity: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  margin: 0 auto;
  -webkit-transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    padding 0.2s ease-in-out, background 0.1s ease;
  transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    padding 0.2s ease-in-out, background 0.1s ease;
  -moz-transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    padding 0.2s ease-in-out, background 0.1s ease;
  -ms-transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    padding 0.2s ease-in-out, background 0.1s ease;
  -o-transition: opacity 0.3s ease-in-out, top 1s ease-in-out,
    padding 0.2s ease-in-out, background 0.1s ease;
  z-index: 9999;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 80px;
}

.navbar__logo {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  display: block;
  position: absolute;
  float: left;
  color: #fff;
  z-index: 9999;
}

.navbar__logo a {
  text-decoration: none;
  outline: 0;
  left: 30px;
  z-index: 10 !important;
  display: relative;
  margin: 0;
  color: white;
  letter-spacing: 1.5px;
  font-weight: var(--weight-bold);
}

.navbar__logo a:hover {
  transition: color 0.1s ease;
  color: white;
  cursor: pointer;
}

.navbar__logo a:after {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}

.navbar__logo a:hover:after {
  width: 100%;
}

.navigation {
  position: absolute;
  padding-left: 240px;
  padding-right: 100px;
  margin: auto;
  height: 40px;
  line-height: 40px;
}

.navigation .navbar__menu {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  vertical-align: baseline;
  transition: 0.3s;
  list-style: none outside;
  transform: translateY(0);
  box-sizing: border-box;
  word-break: keep-all;
  z-index: 10;
}

.navigation .navbar__menu li {
  height: 1;
  display: inline-block;
  margin-right: 20px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  word-break: keep-all;
}

.navigation .navbar__menu li a:first-child {
  padding-left: 0;
}

.navigation .navbar__menu li a {
  display: block;
  margin-right: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  z-index: 200;
  color: rgba(255, 255, 255, 0.726);
  position: relative;
  text-decoration: none;
}

.navigation .navbar__menu li a:hover {
  transition: color 0.1s ease;
  color: white;
  cursor: pointer;
}

.navigation .navbar__menu li a:after {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}

.navigation .navbar__menu li a:hover:after {
  width: 100%;
}

#navbar.navbar--dark {
  background-color: var(--color-black);
  color: white;
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar .btn_container {
  z-index: 9999;
  position: relative;
}

#navbar .navbar__toggle-btn {
  position: relative;
  right: -10px;
  top: 5px;
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: white;
  opacity: 1;
  z-index: 9999;
}

/* Sidebar */

#sidebar__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 21;
  pointer-events: none;
}

#sidebar__container.open {
  opacity: 1;
  pointer-events: auto;
}

#sidebar {
  position: fixed;
  width: 720px;
  height: 100%;
  padding: 5rem 0;
  background-color: darkslategray;
  z-index: 9998;
  transition: all 0.5s ease-in-out;
  right: -720px;
}

#sidebar.open {
  right: 0px;
  height: 100%;
}

#sidebar.sidebar--dark .toggle-btn {
  position: absolute;
  right: 90px;
  top: 15px;
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: white;
  opacity: 1;
  z-index: 1000;
}

#sidebar .toggle-btn {
  position: absolute;
  right: 90px;
  top: 45px;
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: white;
  opacity: 1;
  z-index: 1000;
}

#sidebar .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 9999;
}

#sidebar .container .sidebar__menu {
  list-style: none-outside;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

#sidebar .container .sidebar__menu li {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: black;
}

#sidebar .container .sidebar__menu li a {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 57.6px;
  height: 70px;
  line-height: 70px;
  padding-bottom: 10px;
  margin-left: 60px;
  font-weight: 200;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5ms ease-in-out;
}

#sidebar .container .sidebar__menu li a:hover {
  transition: color 0.1s ease;
  cursor: pointer;
  opacity: 1;
}

#sidebar .container .sidebar__menu li a:after {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}

#sidebar .container .sidebar__menu li a:hover:after {
  width: 100%;
}

.profile-info-wrap .profile-name {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.profile-info-wrap {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  max-width: 720px;
  font-weight: 300;
  margin-top: 5rem;
  margin-bottom: 40px;
}

.profile-location {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #eee;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}

.sns-wrap {
  position: relative;
}

.sns-wrap a {
  display: inline-block;
  margin: 0 auto;
  margin-right: 1rem;
  padding: 0;
  width: 24px;
  height: 24px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Home */
#home {
  padding-top: 80px;
  padding-bottom: 1000px;
  text-align: center;
  z-index: 0;
  height: 1000px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.container-scroll-trigger {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.home__container {
  position: relative;
  width: 100%;
  padding: 0;
  padding-left: 240px;
  z-index: 0;
  margin-top: 80px;
}

.home__title,
.home__descrpition {
  color: white;
  text-align: left;
}

.home__title {
  margin: 0;
  font-weight: 400;
  font-size: 64px;
}

.home__descrpition {
  font-weight: 5;
  font-size: 20px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

.image_container {
  position: absolute;
  height: 690px;
  width: 100%;
  background-color: black;
}

.intro {
  height: 100%;
  position: relative;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.slideshow-img {
  position: absolute;
  padding-top: 70px;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  padding-bottom: 30px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.slideText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px 30px;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about {
  padding-bottom: 10;
}
#about h1,
p {
  color: white;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-20deg) scale(1.1);
}

.major__title {
  color: white;
}

.major__description {
  font-size: var(--font-small);
  color: rgba(255, 255, 255, 0.712);
}

.about__jobs {
  background-color: rgba(157, 157, 233, 0.747);
}

.job {
  display: flex;
  align-items: center;
  padding: 20px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: white;
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skill {
  margin-bottom: 32px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
  z-index: 0;
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  width: 100%;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: black;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-light-purple);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: grey;
  color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 1280px screen width */
@media screen and (max-width: 1280px) and (min-width: 769px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-scroll-trigger {
    padding-left: 40px;
    padding-right: 40px;
  }
  #sidebar .toggle-btn {
    right: 30px;
    top: 45px;
  }
}

@media screen and (max-width: 782px) and (min-width: 769px) {
  .container {
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .intro-header {
    padding: 1.5rem 2rem;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  .intro p {
    font-size: 1.25rem;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__logo {
    position: relative;
    right: 50px;
  }

  #sidebar {
    width: 100%;
    max-width: 400px;
  }

  #sidebar .container .sidebar__menu li {
    height: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: middle;
  }

  #sidebar .container .sidebar__menu li a {
    position: relative;
    bottom: 10px;
    font-size: 30px;
    height: 100%;
    text-align: middle;
  }

  #sidebar .container .sidebar__menu li a:after {
    transition: all 0.5s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 80px;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: white;
    height: 1px;
  }

  .profile-info-wrap {
    padding-left: 60px;
    padding-right: 0px;
  }

  .profile-info-wrap .profile-name {
    font-size: 10px;
  }

  .profile-info-wrap .profile-location {
    font-size: 20px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);
    color: white;
    padding: 20px 0;
  }

  .navigation {
    padding: 0;
  }

  .navigation .navbar__menu {
    display: none;
  }

  .container-scroll-trigger {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .home__container {
    padding-left: 10%;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even) {
    margin: 0;
    margin-bottom: 8px;
  }
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }
  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
